@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@custom-variant dark (&:where(.dark, .dark *));

@theme  {
  --breakpoint-xs: 30rem;
  --breakpoint-sm: 48rem;
  --breakpoint-md: 64rem;
  --breakpoint-lg: 80rem;
  --breakpoint-xl: 96rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
  --color-dark-bg: #171717;
  --color-dark-bdy: #1f242b;
  --color-dark-fg: #ffffff;
  --color-light-bg: #ffffff;
  --color-light-bdy: #fff8e5;
  --color-light-fg: #171717;
  --color-primary: #04aed9;
  --color-secondary: #00ff00;
  --color-tertiary: #0000ff;
}
.test{
  --color-dark-bdy: #1f242b;
  --color-dark-fg: #ffffff;
  --color-light-bg: #ffffff;
  --color-light-bdy: #fff8e5;
  --color-light-fg: #171717;
  --color-primary: #04aed9;
  --color-secondary: #00ff00;
  --color-tertiary: #0000ff;
}
/* @media () {
  
} */


