@import url('https://fonts.googleapis.com/css2?family=Jim+Nightshade&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@custom-variant dark (&:where(.dark, .dark *));

@theme  {
  --breakpoint-xs: 30rem;
  --breakpoint-sm: 48rem;
  --breakpoint-md: 64rem;
  --breakpoint-lg: 80rem;
  --breakpoint-xl: 96rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
  --color-dark-bg: #171717;
  --color-dark-bdy: #1f242b;
  --color-dark-fg: #ffffff;
  --color-light-bg: #ffffff;
  --color-light-bdy: #fff8e5;
  --color-light-fg: #171717;
  --color-primary: #04aed9;
  --color-secondary: #00ff00;
  --color-tertiary: #0000ff;
  --font-family-nato: 'Noto Sans', sans-serif;
  --font-family-montserrat: 'Montserrat', serif;
  --font-family-jim: 'Jim Nightshade', monospace;
}


.test{
  --color-dark-bdy: #1f242b;
  --color-dark-fg: #ffffff;
  --color-light-bg: #ffffff;
  --color-light-bdy: #fff8e5;
  --color-light-fg: #171717;
  --color-primary: #04aed9;
  --color-secondary: #00ff00;
  --color-tertiary: #0000ff;
}
/* @media () {
  
} */


